* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
@media (max-width:800px) 
{

}


.t1{
    background-image: url(..//img/avengers-gif.gif);
   background-repeat: no-repeat;
   background-size: cover;
}
.corpo {
     margin: 0 auto;
    max-width: 300px;
    background: #000000;
    overflow: hidden;
    border-radius: 16px;
    color: #ffffff;
  }
  
  .menu {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
  }
  
  
  .Titulo {
    font-weight: bold;
    font-size: 1.6rem;
  }
  
  .subtitulo {
    font-size: 1rem;
    color: #ffffff;
  }
  

  .a1 {
    overflow: hidden;
    border-radius: 8px;
    background-color: #ffffff;
    margin: 1rem 0 .5rem;
    width: 100%;
  }
  
  .i1 {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #000000;
    font-size: .9rem;
    padding: 8px 15px;
  }
  
  .botao1 {
 margin: 20px;
    background-color: #808080;
    color: #fff;
    border: 0;
    border-radius: 15px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
   text-decoration: none;
   
  }
  
  .botao1:hover {
    background-color: #747474;
  }
.e2 > img{
    height: 90px;
    width: 90px;
}
.fundo{
    background-image: url(..//img/pacman-gaming.gif);
   background-repeat: no-repeat;
   background-size: cover;
}
.cabe{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background-image: url(..//img/imagem-destacada.jpg);
   
}
.tx{
   background-color: #454343;
}
.cabe > img{
    height: 200px;
    width: 300px;
}
.a2{
    padding: 80px;
    
}
.a2 > a{
    margin-top: 40px;
    margin: 10px;
}
.p1{
   flex-direction: column;
  
   margin-left: 20px;
    color: white;
}
.pa{
    color: white;
}
.pa{
    margin: 0 auto;
   
    display: flex;
}
.corpo1{
    display: flex;

}
.corpo1 > img{
    width: 50%;
    margin-right: 300px;
    height: 350px;
    width: 400px;
}
.corpo1 > .tex{
     width:50%;
     display:flex ;
     margin-left: 20px;
    margin-top: 50px;
}

.fim > h1 {
    justify-content: center;
    color: white;
    align-items: center;
    display: flex;
}
.fim > div{
    display: flex;
    flex-direction: column;
}
.fim > div > a{
    margin-top: 20px;
margin-bottom: 15px;
}
.sair{
    text-decoration: none;
    color: white;
}
.ha4 > img{
    width: 300px;
}
.rs{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background-image: url(..//img/imagem-destacada.jpg);
}
.cabe1{
    flex-direction: column;
    color: rgb(0, 0, 0);
    background-repeat: no-repeat;
   background-size: cover;
    background-image: url(..//img/gifs-de-jogos-1.gif);
   
}
.cabe1 > img{
    width: 300px;
}
.w1{
    text-align: center;
    font-size: 50px;
    margin: 20px;
}
.button {
    padding: 1.3em 3em;
    color: #000;
    width: 188px;
    height: 60px;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    text-decoration: none;
    margin: 5px;
  }
  
  .button:hover {
    background-color: #36c046;
    box-shadow: 0px 15px 20px rgba(37, 181, 123, 0.4);
    color: #fff;
  }

  .bota{
    align-items: center;
    text-align: center;
   justify-content: center;
   flex-direction: column;
   display: flex;
}
.cabe1 > a{
    color: white;
    text-decoration: none;
}
.filmes > div > h1{
    color: white;
}

.filmes > img {
    width: 200px;
    height: 200px;
}
.filmes{
    display: flex;

}
.filmes{
    overflow: scroll;
    gap: 10px;

    
}

.filmes::-webkit-scrollbar
{
    display: none;
}
.j{
    color: white;
}
.r9:hover{
content: url(../img/champions-world-cup-champions.gif);
}
.panda:hover{
    content: url(../img/200w.gif);
}
.sad:hover{
    content: url(../img/ParallelPoshDogwoodtwigborer-size_restricted.gif);
}
.panda1:hover{
    content: url(../img/4u38.gif);
}
.loki:hover{
    content: url(../img/loki-laufeyson.gif);
}
.mario:hover{
    content: url(../img/filme+mario+cogumelooo+gif-ms-swyijtqbcp.gif);
}
.estranho:hover{
    content: url(../img/gifs-de-stranger-things-0.gif);
}
.one:hover{
    content: url(../img/one.gif);
}
.naru:hover{
    content: url(../img/PlainFriendlyFowl-size_restricted.gif);
}
.gus:hover{
    content: url(../img/guts-berserk-guts.gif);
}
.ippo:hover{
    content: url(../img/hajime-no-ippo-ippo.gif);
}
.goku:hover{
    content: url(../img/giphy.gif);
}
.vi:hover{
    content: url(../img/vinland-saga.gif);
}
.adam:hover{
    content: url(../img/Black\ Adam5.gif);
}
.fo:hover{
    content: url(../img/quantumania-ant-man.gif);
}
.the:hover{
    content: url(../img/giphy\ \(1\).gif);
}
.dark:hover{
    content: url(../img/my-hero-academia-deku.gif);
}
.demon:hover{
    content: url(../img/demon-slayer.gif);
}