* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.t1{
    background-image: url(..//img/avengers-gif.gif);
   background-repeat: no-repeat;
   background-size: cover;
}
.corpo {
     margin: 0 auto;
    max-width: 300px;
    background: #000000;
    overflow: hidden;
    border-radius: 16px;
    color: #ffffff;
  }
  
  .menu {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
  }
  
  
  .Titulo {
    font-weight: bold;
    font-size: 1.6rem;
  }
  
  .subtitulo {
    font-size: 1rem;
    color: #ffffff;
  }
  

  .a1 {
    overflow: hidden;
    border-radius: 8px;
    background-color: #ffffff;
    margin: 1rem 0 .5rem;
    width: 100%;
  }
  
  .i1 {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #000000;
    font-size: .9rem;
    padding: 8px 15px;
  }
  
  .botao1 {

    background-color: #808080;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
   text-decoration: none;
   
  }
  
  .botao1:hover {
    background-color: #747474;
  }
.e2 > img{
    height: 90px;
    width: 90px;
}
.fundo{
    background-image: url(..//img/pacman-gaming.gif);
   background-repeat: no-repeat;
   background-size: cover;
}
.cabe{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background-image: url(..//img/imagem-destacada.jpg);
   
}
.tx{
   background-color: #000000;
}
.cabe > img{
    height: 200px;
    width: 300px;
}
.a2{
    padding: 80px;
    
}
.a2 > a{
    margin-top: 40px;
    margin: 10px;
}
.p1{
   flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: white;
}
.pa{
    color: white;
}
main{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
}
.corpo1{
    display: flex;

}
.corpo1 > img{
    width: 50%;
    margin-left: 600px;
}
.corpo1 > .tex{
     width:50%;
     display:flex ;
     justify-content: center;
     align-items: center;
}

.fim > h1 {
    justify-content: center;
    color: white;
    align-items: center;
    display: flex;
}
.fim > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fim > div > a{
    margin-top: 20px;
margin-bottom: 15px;
}
.sair{
    text-decoration: none;
    color: white;
}